*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text: #7d7987;
  --primary: #458ff6;
  --secondary: #1f1534;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: var(--text);
  background-color: #fff;
}

a {
  color: var(--primary);
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
}

header .nav {
  display: flex;
  align-items: center;
}

header .nav-item {
  margin: 0 1rem;
}

header .nav-item a {
  font-size: 18px;
  color: var(--secondary);
}

header .nav-item.active a,
header .nav-item a:hover {
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20rem 0rem 0rem;
  padding: 6rem 8rem;
  background-color: var(--primary);
  color: #fff;
}

footer .info {
  max-width: 350px;
}

footer .info img {
  width: 160px;
  margin-bottom: 1rem;
}

footer .description {
  line-height: 28px;
  font-size: 18px;
}

footer .copyright {
  line-height: 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.split {
  display: flex;
  align-items: center;
  padding: 0 6rem;
}

.split>div {
  flex-basis: 50%;
  margin: 0 2rem;
}

.illustration {
  max-width: 650px;
}

.title {
  line-height: 48px;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}

.title.light {
  color: #fff;
  text-align: center;
}

.divider {
  width: 56px;
  height: 2px;
  margin: 2rem auto;
  border-radius: 5px;
  background-color: #000;
}

.divider.left {
  margin-left: 0;
}

.divider.light {
  background-color: #fff;
}

.description {
  line-height: 30px;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 18px;
}

.description.light,
.position {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

.name {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

.link {
  display: inline-block;
  height: 55px;
  min-width: 200px;
  padding: 0 2rem;
  border-radius: 55px;
  line-height: 55px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.link.dark {
  background-color: var(--primary);
  color: #fff;
}

.link.light {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.link.light.border-none {
  padding: 0;
  border: none;
  background-color: #fff;
  color: var(--primary);
  text-align: left;
}

.link-white {
  display: block;
  border: none;
  color: #fff;
  text-align: left;
  line-height: 38px;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem 0;
}

.card {
  flex-basis: 30%;
  max-width: 300px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1.5rem;
  text-align: start;
  box-shadow: 0px 15px 50px rgba(64, 137, 237, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.card .image-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
}

.card .title {
  font-size: 24px;
}

.card .description {
  font-size: 16px;
}

.hero {
  height: 100vh;
}

.hero .title {
  max-width: 385px;
  margin-bottom: 1.5rem;
  font-size: 48px;
}

.hero .description {
  max-width: 424px;
  font-size: 21px;
}

.services {
  padding: 4rem 8rem;
  text-align: center;
  background-image: url('./images/bg/element.png'), url('./images/element.png');
  background-repeat: no-repeat;
  background-size: 800px, 80px;
  background-position: left center, 95% center;
}

.services .description {
  max-width: 900px;
  margin: auto;
}

.services .cards .card img {
  transform: scale(0.5) translateX(-50%);
}

.providers,
.mobile-apps {
  height: 100vh;
}

.customer-saying {
  margin: 8rem;
  padding: 4rem 8rem;
  border-radius: 24px;
  background-color: var(--primary);
}

.user-split {
  display: flex;
  align-items: center;
}

.comment {
  flex-basis: 50%;
  width: 120px;
}

.user {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.user img {
  width: 120px;
}

.user-position {
  margin: 0 1rem;
  line-height: 30px;
}

.blog {
  height: 100vh;
}

.blog > .title {
  text-align: center;
}

.blog .card .title {
  margin-top: 1.5rem;
  margin-bottom: 1rem; 
  font-size: 21px;
  line-height: 32px;
  text-align: left;
}

.blog .card .description {
  font-size: 16px;
  line-height: 28px;
}

.blog .card .img {
  padding: 0;
  margin: -2rem -2rem 0 -2rem;
}

.blog .view {
  text-align: center;
}

.company .title, .region .title, .help  .title {
  color: #fff;
  font-size: 20px;
  text-align: left;
}


